body {
  background-color:  rgb(158, 220, 223); 
}
p { color: white; text-align: center;} 

h1 { color: white; text-align: center;}
h3 { color: white; text-align:center;}
ul {
  list-style-type: none;
  margin: middle;
  padding: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: blue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: black;

h1 {
  color: rgb(243, 8, 47);
  margin-left: 20px;

}
h4 { color: white; text-align: center;}
