body {
  background-color:  rgb(156, 241, 241); 
}
.kleur {
  background-image: url(kleurmodellen.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
.compressie {
  background-image: repeating-conic-gradient(red 10%, yellow 20%);

.binair
  

}

.FutureStars {
  background-image: repeating-radial-gradient(red, yellow 10%, green 15%);
  
}

.index {
  background-image: url('paper.png');
  background-repeat: no-repeat;
  background-size: cover;
  
}
p { color: white; text-align: center;} 

h1 { color: white; text-align: center;}
h2 { color: white; text-align: center;}
h3 { color: white; text-align:center;}
ul {
  list-style-type: none;
  margin: middle;
  padding: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: blue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: black;
}

h4 { color: white; text-align: center;
}

img {
  display: block;
  margin: auto;
  width: 25%;
}


h1 {
  color: white;
  margin-left: 20px;

}

#video-container {
    position: fixed;
    bottom: 10px;   
    left: 10px;     
    width: 320px;
    height: 180px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 1000;
}
    .border {
  background-color: rgb(242, 0, 255);
  color: white;
  border: 0px solid black;
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
  text-align: left;
  
    }